* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Lato", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 90vh;
}

.containerForLogin {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: rgb(15, 15, 15);
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-color: rgb(15, 15, 15);
  z-index: 5;
}

svg {
  color: white;
  cursor: pointer;
}

.help {
  color: white;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 1430px;
}

.containercard {
  width: 90%;
  margin-left: 5%;
  background-color: #0f4c75;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.cardtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  font-size: 1.5rem;
}

.cardsubtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 58%;
  font-size: 1rem;
}

.cardimg {
  background-position: 50%;
  background-size: cover;
  opacity: 0.5;
  height: 250px;
  border-radius: 10px;
}

.burger-wrapper {
  position: fixed;
  display: flex;
  height: 100%;
  z-index: 6;
}

.burger-menu {
  width: 0;
  height: 100%;
  background-color: #151515;
  overflow-x: hidden;
  transition: 0.5s;
}

.burger-header {
  background-color: #151515;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.burger-links {
  display: flex;
  flex-direction: column;
}

.burger-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #444;
  cursor: pointer;
}

.burger-toggle .icon {
  font-size: 24px;
  margin-right: 10px;
}

.menubtn {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5px;
  height: 40px;
  color: white;
  background-color: #0f4c75;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #323232;
}

input {
  font: 16px/26px "Raleway", sans-serif;
}

.form-wrap {
  background-color: rgb(25, 25, 25);
  width: 320px;
  box-shadow: 0px 1px 8px #bebebe;
  -webkit-box-shadow: 0px 1px 8px #0f4c75;
  -moz-box-shadow: 0px 1px 8px #bebebe;
}

.form-wrap .tabs {
  overflow: hidden;
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%;
}

.form-wrap .tabs h3 a {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  background-color: #e6e7e8;
  display: block;
  color: #666;
}

.form-wrap .tabs h3 a.active {
  background-color: #0f4c75;
  color: white;
}

.form-wrap .tabs-content {
  padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}

.form-wrap .tabs-content .active {
  display: block !important;
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: rgb(15, 15, 15);
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border: 1px solid #cfcfcf;
  outline: 0;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding-right: 2em;
  width: 100%;
}

.form-wrap form .button {
  width: 100%;
  padding: 0.8em 0 10px 0.8em;
  background-color: #3282b8;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.form-wrap form .checkbox {
  visibility: hidden;
  padding: 20px;
  margin: 0.5em 0 1.5em;
}

.form-wrap form .checkbox:checked+label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.form-wrap form label[for] {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.form-wrap form label[for]:before {
  content: "";
  position: absolute;
  border: 1px solid #cfcfcf;
  width: 17px;
  height: 17px;
  top: 0px;
  left: -14px;
}

.form-wrap form label[for]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid #0f4c75;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-wrap .help-text {
  margin-top: 0.6em;
}

.form-wrap .help-text p {
  text-align: center;
  font-size: 14px;
}