* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

html {
  background-color: rgb(15, 15, 15);
}

.header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: rgb(15, 15, 15);
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.header2 {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  font-size: 1.5rem;
  height: 50px;
}

#slider {
  height: 4px;
  background: #ebe3d5;
  width: 0%;
  max-width: 100%;
  border-radius: 10px;
}

svg {
  color: white;
  cursor: pointer;
}

.help {
  color: white;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.containercard {
  width: 90%;
  margin-left: 5%;
  background-color: #0f4c75;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.itemcard {
  width: 90%;
  margin-left: 5%;
  background-color: #0f4c75;
  height: 275px;
  margin-top: 30px;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.cardtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  font-size: 1.5rem;
}

.itemtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  font-size: 1.5rem;
}

.cardsubtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 58%;
  font-size: 1rem;
}

.cardimg {
  background-position: 50%;
  background-size: cover;
  opacity: 0.5;
  height: 250px;
  border-radius: 10px;
}

.itemimg {
  background-position: 50%;
  background-size: cover;
  opacity: 0.5;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.burger-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  height: 100%;
  z-index: 6;
}

.burger-menu {
  width: 0;
  height: 100%;
  background-color: #151515;
  overflow-x: hidden;
  transition: 0.5s;
}

.burger-header {
  background-color: #151515;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.burger-links {
  display: flex;
  flex-direction: column;
}

.burger-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #444;
  cursor: pointer;
}

.burger-toggle .icon {
  font-size: 24px;
  margin-right: 10px;
}

.menubtn {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5px;
  height: 40px;
  color: black;
  background-color: #ebe3d5;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.svgIcon {
  position: absolute;
  left: 10%;
  top: 25%;
}

.menuP {
  position: absolute;
  text-align: center; /*prije je bilo left: 40%;*/
  color: black;
}

/*help*/
.outerbg {
  width: 100%;
  max-width: 610px;
  margin: 20px;
  padding: 30px 0;
  margin: 0 auto;
  background: url("https://s24.postimg.org/63armx1h1/sahil_sahil_chatsbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.chatboxout {
  font-family: open sans;
  font-size: 12px;
  line-height: 17px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
  -moz-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
  box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
}

.chatboxin {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 15px;
}

.chat-sender.msg {
  -webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #776b5d;
  color: #fff;
  box-sizing: border-box;
  width: calc(100% - 53px);
  margin-left: -9px;
}

.chatmsg {
  margin-top: 5px;
}

.black {
  color: rgb(15, 15, 15);
}

.chat-sender {
  display: inline-block;
  vertical-align: top;
}

.chat-container {
  margin-top: 15px;
  margin-bottom: 15px;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-respond.msg {
  -webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #ebe3d5;
  color: #333;
  box-sizing: border-box;
  width: calc(100% - 53px);
  margin-right: -9px;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

.chat-respond.msg strong {
  color: rgba(20, 19, 19, 0.874);
  font-weight: bolder;
}

.chat-respond {
  display: inline-block;
  vertical-align: top;
}

.flippd {
  width: 100%;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.new-question {
  margin-bottom: 20px;
}

.new-question input {
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 5px;
  background-color: #ebe3d5;
}

input:focus {
  outline: none;
}

.new-question button {
  margin-left: 30%;
  width: 40%;
  color: #ebe3d5;
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  background-color: #776b5d;
  font-weight: bold;
}

.iteminfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.locationinfo {
  display: flex;
}

.about {
  display: flex;
  flex-direction: column;
}

.AboutUs {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #ebe3d5;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  background-color: #ebe3d5;
  border-radius: 10px;
  padding: 20px;
}

.aboutText p {
  font-size: 1.4rem;
  color: #151515;
}

/*--------------------------------- SETTINGS STYLES -----------------------------------*/

.checkboxPrijavljen {
  position: relative;
  padding-left: 20px;
}

#checkBoxNovi {
  position: absolute;
  right: 20px;
  top: 25%;
}

input[type="checkbox"] {
  accent-color: #b0a695;
  width: 15px;
  height: 15px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
}

/* Custom checkbox checkmark color */
input[type="checkbox"]:checked {
  background-color: #b0a695; /* Change this to the desired color */
}

input[type="checkbox"]:checked::before {
  content: "\2713"; /* Checkmark character */
  display: block;
  text-align: center;
  line-height: 18px;
  color: white; /* Change this to the desired color */
}

.checkboxPrijavljen p {
  font-size: 0.7rem;
}

.checkboxPrijavljen label {
  font-size: 1.2rem;
}

.promjenaLozinke,
.promjenaTeme,
.usloviKoristenja,
.politikaPrivatnosti,
.odjava {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b0a695;
  border-radius: 5px;
  height: 35px;
}

.usloviKoristenja,
.politikaPrivatnosti {
  justify-content: space-between;
}

.lozinkaITema {
  background-color: #b0a695;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.promjenaLozinke p,
.promjenaTeme p,
.odjava p {
  font-size: 1.3rem;
  color: black;
}

.odjava p {
  font-weight: bolder;
}

.usloviKoristenja p,
.politikaPrivatnosti p {
  font-size: 1rem;
  color: black;
  margin-left: 20px;
}

.svg_ovi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.settingsNaslov {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*--------------------------------- MYACCOUNT STYLES -----------------------------------*/

.myAccountTitle {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 50px;
}

.settingsContainer{
  background-color: #776b5d;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userImage{
  height: 120px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.userName{
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.userButton{
  background-color: #ebe3d5;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 260px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.signOut{
  margin-top: 70px;
}

.lastBtn{
  margin-bottom: 30px;
}

.userSvgIcon {
  position: absolute;
  left: 10%;
  top: 25%;
}

.input-container {
  position: relative;
  margin-top: 10px;
}

.small-label {
  position: absolute;
  top: -1px;
  left: 10px;
  font-size: 12px;
  color: rgb(55, 55, 55);
  pointer-events: none;
}

.accountInput {
  border: none;
  padding: 10px;
  width: 250px;
  color: black;
  border-radius: 10px;
  font-size: 14pt;
  background-color: #ebe3d5;
}

.accountInput:focus {
  outline: none;
}

.lastField{
  margin-bottom: 30px;
}

.editButton{
  background-color: #b0a695;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.editContainer{
  position: relative;
}

.pictureBtn{
  background-color: #b0a695;
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 130px;
  right: 0px;
}

.savecancel{
  background-color: #b0a695;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  color: black;
  cursor: pointer;
  width: 120px;
  height: 40px;
  top: 130px;
  right: 0px;
  margin-bottom: 10px;
}
