.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.adminNaslov {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #ebe3d5;
}

.dugmic {
  height: 40px;
  width: 100%;
  background-color: #776b5d;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.dugmic2 {
  height: 30px;
  width: 100px;
  background-color: #ebe3d5;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  color: red;
  font-weight: bolder;
  margin-top: 10px;
}

a {
  width: 100%;
}

.accountsContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.role {
  width: 100px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}

.userButton {
  background-color: rgb(8, 160, 8);
}

.managerButton {
  background-color: rgb(165, 54, 54);
}

.userButton1 {
  background-color: rgb(165, 54, 54);
}

.managerButton2 {
  background-color: rgb(8, 160, 8);
}

.dugmadi {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
