.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.containercard {
  width: 90%;
  margin-left: 5%;
  background-color: #0f4c75;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.itemcard {
  width: 90%;
  margin-left: 5%;
  background-color: #0f4c75;
  height: 275px;
  margin-top: 30px;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.cardtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  font-size: 1.5rem;
}

.itemtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  font-size: 1.5rem;
}

.cardsubtitle {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 58%;
  font-size: 1rem;
}

.cardimg {
  background-position: 50%;
  background-size: cover;
  opacity: 0.5;
  height: 250px;
  border-radius: 10px;
}

.itemimg {
  background-position: 50%;
  background-size: cover;
  opacity: 0.5;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.iteminfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.locationinfo {
  display: flex;
}

/*--------------------------------- FILTRIRANJE  -----------------------------------*/
.filtriranje {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  margin-top: 20px;
}

.comboboxGrad {
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 20px;
}

details {
  position: relative;
  width: 100%;
  margin-right: 1rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b0a695;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  /*background: transparent;*/
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

ul {
  width: 100%;
  background: #b0a695;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 0.8rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 0;
  padding: 0.6rem 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 0.9rem;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  z-index: 100;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

#inp {
  background: #b0a695;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0.6rem;
  margin-top: 20px;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.search {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.search button {
  height: 50%;
  right: 0;
  position: absolute;
  top: 46%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  right: 15px;
}

::placeholder {
  color: white;
}

.srcad {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 60%;
  font-size: 1.5rem;
}
