.title {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #ebe3d5;
}

.settingsContainer {
  background-color: #776b5d;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.businessImage {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.businessName {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.businessButton {
  background-color: #ebe3d5;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 260px;
  height: 35px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.signOut {
  margin-top: 70px;
}

.lastBtn {
  margin-bottom: 30px;
}

.businessSvgIcon {
  position: absolute;
  left: 10%;
  top: 25%;
}

.input-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.small-label {
  position: absolute;
  top: 2px;
  left: 27px;
  font-size: 10px;
  color: rgb(55, 55, 55);
  pointer-events: none;
}

.accountInput {
  border: none;
  padding: 10px;
  width: 90%;
  color: black;
  border-radius: 5px;
  font-size: 12pt;
  background-color: #ebe3d5;
}

.accountInput:focus {
  outline: none;
}

.lastField {
  margin-bottom: 30px;
}

.editButton {
  background-color: #b0a695;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.editContainer {
  position: relative;
  display: flex;
}

.pictureBtn {
  background-color: #b0a695;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  position: absolute;
  top: 195px;
  right: 20px;
}